<div class="bground">
  <div class="container">
    <form novalidate class="form" [formGroup]="form"  (ngSubmit)="submitEditStudent()">
      <div (click)="this.dataHandler.isCallEditFormService=false" class="close">&times;</div>
      <h1>Редактирование данных</h1>
      <h2>{{ this.dataHandler.student.lastName }}
        {{ this.dataHandler.student.firstName }}
        {{ this.dataHandler.student.middleName }}</h2>
      <div class="form" formGroupName="fio">
        <div class="form-control">
          <label>Фамилия</label>
          <input type="text" placeholder="Фамилия" formControlName="lastName">
          <div class="validation"
               *ngIf="form.get('fio').get('lastName').invalid && form.get('fio').get('lastName').touched"
          >
            <small *ngIf="form.get('fio').get('lastName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="form-control">
          <label>Имя</label>
          <input type="text" placeholder="Имя" formControlName="firstName">
          <div class="validation"
               *ngIf="form.get('fio').get('firstName').invalid && form.get('fio').get('firstName').touched"
          >
            <small *ngIf="form.get('fio').get('firstName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="form-control">
          <label>Отчество</label>
          <input type="text" placeholder="Отчество" formControlName="middleName">
          <div class="validation"
               *ngIf="form.get('fio').get('middleName').invalid && form.get('fio').get('middleName').touched"
          >
            <small *ngIf="form.get('fio').get('middleName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="validation">
          <small *ngIf="form.get('fio').errors && form.get('fio').errors.restrictedFio">Имя не должно совпадать с фамилией или отчеством </small>
        </div>
      </div>
      <div class="form-control">
        <label>Дата рождения</label>
        <input type="date" formControlName="birthday">
        <div class="validation">
          <small *ngIf="form.get('birthday').errors && form.get('birthday').errors.restrictedDate">Человеку должно быть больше 10 лет</small>
        </div>
      </div>
      <div class="form-control">
        <label>Средняя оценка</label>
        <input type="text" placeholder="4.4" formControlName="mark">
        <div class="validation" *ngIf="form.get('mark').invalid && form.get('mark').touched">
          <small
            *ngIf="form.get('mark').errors.required"
          >Введите оценку от 0 до 5</small>
          <small
            *ngIf="form.get('mark').errors.min"
          >Оценка должна быть больше {{form.get('mark').errors.min.min }} </small>
          <small
            *ngIf=" form.get('mark').errors.max"
          >Оценка должна быть меньше {{form.get('mark').errors.max.max}} </small>
        </div>
      </div>
      <button class="form-button" [ngClass]="{'form-button_enabled' : form.valid}" type="submit">Сохранить</button>
    </form>
  </div>
</div>
