<div class="bground">
  <div class="container">
    <form novalidate class="form" [formGroup]="form" (ngSubmit)="submitStudent()">
<!--      <div (click)="this.dataHandler.isCallFormService=false" class="close">&times;</div>-->
      <div (click)="closeAddForm()" class="close">&times;</div>
      <h1>Добавление студента</h1>

      <div class="form" formGroupName="fio">
        <div class="form-control">
          <label for="lastName">Фамилия</label>
          <input id="lastName" type="text" placeholder="Иванов" formControlName="lastName">
          <div class="validation"
               *ngIf="form.get('fio').get('lastName').invalid && form.get('fio').get('lastName').touched"
          >
            <small *ngIf="form.get('fio').get('lastName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="form-control">
          <label for="firstName">Имя</label>
          <input id="firstName" type="text" placeholder="Иван" formControlName="firstName">
          <div class="validation"
               *ngIf="form.get('fio').get('firstName').invalid && form.get('fio').get('firstName').touched"
          >
            <small *ngIf="form.get('fio').get('firstName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="form-control">
          <label for="middleName">Отчество</label>
          <input id="middleName" type="text" placeholder="Иванович" formControlName="middleName">
          <div class="validation"
               *ngIf="form.get('fio').get('middleName').invalid && form.get('fio').get('middleName').touched"
          >
            <small *ngIf="form.get('fio').get('middleName').errors.required">Поле не должно быть пустым</small>
          </div>
        </div>
        <div class="validation">
          <small *ngIf="form.get('fio').errors && form.get('fio').errors.restrictedFio">Имя не должно совпадать с фамилией или отчеством </small>
        </div>
      </div>
      <div class="form-control">
        <label for="birthday">Дата рождения</label>
        <input id="birthday" type="date" formControlName="birthday">
        <div class="validation">
          <small *ngIf="form.get('birthday').errors && form.get('birthday').errors.restrictedDate">Человеку должно быть меньше 10 лет</small>
        </div>
      </div>
      <div class="form-control">
        <label for="mark">Средняя оценка</label>
        <input id="mark" type="text" placeholder="4.4" formControlName="mark">
        <div class="validation" *ngIf="form.get('mark').invalid && form.get('mark').touched">
          <small
            *ngIf="form.get('mark').errors.required"
          >Введите оценку от 0 до 5</small>
          <small
            *ngIf="form.get('mark').errors.min"
          >Оценка должна быть больше {{form.get('mark').errors.min.min }} </small>
          <small
            *ngIf=" form.get('mark').errors.max"
          >Оценка должна быть меньше {{form.get('mark').errors.max.max}} </small>
        </div>
      </div>
      <button class="form-button" [ngClass]="{'form-button_enabled' : form.valid}" type="submit">Добавить</button>
    </form>
  </div>
</div>
