<div class="view">
  <div class="view-header">
    <h4 class="view-header__title" [routerLink]="'/'" [queryParams]="{debug: true}" >Список студентов</h4>
    <label class="view-header__checkbox">
      <input (click)="toggleFeature()" type="checkbox" checked="checked" />
      <span class="view-header__checkbox__text">Выделение двоечников</span>
    </label>
  </div>
  <div class="view-search">
    <label for="search"></label>
    <input id="search" class="view-search__input input" type="text" placeholder="Поиск" [(ngModel)]="search">
    <button class="view-search__button"
            [ngClass]="{ 'view-search__button_active' : searchField == this.searchOption.LastName}"
            (click)="searchField = this.searchOption.LastName">по фамилии</button>
    <button class="view-search__button"
            [ngClass]="{ 'view-search__button_active' : searchField == this.searchOption.FirstName}"
            (click)="searchField = this.searchOption.FirstName">по имени</button>
    <button class="view-search__button "
            [ngClass]="{ 'view-search__button_active' : searchField == this.searchOption.All}"
            (click)="searchField = this.searchOption.All">по имени и фамилии</button>
  </div>
  <div class="view-block">
    <div class="view-filter">
      <div class="view-filter__name">Фильтр:</div>
      <label for="lastNameSearch"></label>
      <input id="lastNameSearch" class="input view-filter__input" type="text" placeholder="По фамилии" [(ngModel)]="lastNameSearch">

      <label for="markSearch"></label>
      <input id="markSearch" class="input view-filter__input" type="text" placeholder="По среднему баллу" [(ngModel)]="mark" (ngModelChange)="setStudentsByMark()">

      <label for="birthdaySearch"></label>
      <input id="birthdaySearch" class="input view-filter__input" type="date" placeholder="По дате рождения" [(ngModel)]="birthday" (ngModelChange)="setStudentsByBirthday()"></div>
    <div class="view-button">
      <button class="view-button__button" (click)="openAddForm()" >Добавить студента</button>
    </div>
  </div>
  <div class="view-body table-responsive">
    <table class="table" *ngIf="!loading; else loadingBlock" >
      <thead class=" table-header">
      <tr>
      <th (click)="sortTableBy('id'); sortUp = !sortUp">#</th>
      <th [ngClass]="{'active' : isSort('lastName')}" (click)="sortTableBy('lastName'); sortUp = !sortUp">Фамилия</th>
      <th [ngClass]="{'active' : isSort('firstName')}" (click)="sortTableBy('firstName'); sortUp = !sortUp">Имя</th>
      <th [ngClass]="{'active' : isSort('middleName')}" (click)="sortTableBy('middleName'); sortUp = !sortUp">Отчество</th>
      <th [ngClass]="{'active' : isSort('birthday')}" (click)="sortTableBy('birthday'); sortUp = !sortUp">Дата рождения</th>
      <th [ngClass]="{'active' : isSort('averageMark')}" (click)="sortTableBy('averageMark'); sortUp = !sortUp">Средний балл</th>
      <th></th>
      <th></th>
      </tr>
      </thead>
        <tbody [appInfo]="student.info"
               [appHighlight]="student.averageMark"
               *ngFor="let student of students | filter:lastNameSearch; trackBy:trackByStudentID; let i = index" class="table-body"
               [ngClass]="{
                  'table-body_red' : student.averageMark < 3 && getFeature(),
                  'table-body_green' : isSearch(student)
                }"
              >
        <tr>
          <td>{{i + 1}}</td>
          <td class="table-body__element">{{student.lastName}}</td>
          <td class="table-body__element">{{student.firstName}}</td>
          <td class="table-body__element">{{student.middleName || ""}}</td>
          <td> {{student.birthday | date:"dd.MM.yyyy" | dateYears}}</td>
          <td>{{student.averageMark }}
          <span class="gift" [innerHTML] = "student.averageMark | goodMark"></span>
          </td>
          <td>
            <div class="edit" (click)="setEditStudent(student)" >
              <i class="fas fa-edit"></i>
            </div>
          </td>
          <td>
            <div class="delete" (click)="hidden=true; delStudent=student" >
              <button class="delete__button"></button>
            </div>
          </td>
        </tr>
        </tbody>
    </table>
    <ng-template #loadingBlock>
      Загрузка...
    </ng-template>
  </div>
</div>

<div class="hidden" [ngClass]="{'hidden_active' : hidden}">
  <div id="confirm" class="confirm">
    <h2>Вы уверены, что хотите удалить студента?</h2>
    <h3>{{delStudent.lastName || ""}} {{delStudent.firstName || ""}} {{delStudent.middleName || ""}}</h3>
    <button class="confirm__button" (click)=" hidden = false; deleteStudent(delStudent)">Удалить</button>
    <button class="confirm__button confirm__button_cancel" (click)="hidden = false">Отмена</button>
  </div>
</div>

<!--<app-add-form (onCloseForm)="isAddForm = false" *ngIf="isAddForm"></app-add-form>-->
<!--<app-edit-form [editStudent]="this.editStudent"-->
<!--               *ngIf="isEditForm"-->
<!--              (onEdit)="isEditForm = false"-->
<!--&gt;</app-edit-form>-->
<router-outlet></router-outlet>


