<div class="view">
  <div class="view-header">
    <h4 class="view-header__title">Список студентов</h4>
    <label class="view-header__checkbox">
      <input (click)="toggleFeature()" type="checkbox" checked="checked" />
      <div class="view-header__checkbox__text">Выделение двоечников</div>
    </label>
  </div>
  <div class="view-search">
    <input class="view-search__input" type="text" placeholder="Фамилия">
  </div>
  <div class="view-body table-responsive">
    <table class="table table-hover">
      <thead class="table-header">
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Средний балл</th>
      <th></th>
      </thead>
      <tbody class="table-body">
      <tr [class.table-body_red]="student.averageMark < 3 && getFeature()" *ngFor="let student of students; let i = index">
        <td>{{i + 1}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.middleName}}</td>
        <td>{{student.birthday | date:"shortDate"}}</td>
        <td>{{student.averageMark}}</td>
        <td>
          <div class="delete">
            <button class="delete__button"></button>
<!--            <label class="form-check-label">-->
<!--              <input class="form-check-input"-->
<!--                     type="checkbox"-->
<!--                     value=""-->
<!--              >-->
<!--              <span class="form-check-sign">-->
<!--              <span class="check"></span>-->
<!--            </span>-->
<!--            </label>-->
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
